<h1 style="text-align: center;">Helsinki eredmények(táblázat):</h1>

<h2>Új adat megadása</h2>
<form style="width: 800px; margin:50px auto">
  <div class="form-floating m-3">
    <select class="form-select" id="floatSelect">
      <option value="1">Arany</option>
      <option value="2">Ezüst</option>
      <option value="3">Bronz</option>
      <option value="4">4.hely</option>
      <option value="5">5.hely</option>
      <option value="6">6.hely</option>
    </select>
    <label for="floatSelect">Versenyző helyezése</label>
  </div>

  <div class="form-floating m-3">
    <select class="form-select" id="meretSelect">

      <option *ngFor="let meret of CsapatMeretOpciok" value="1">{{meret}} fő</option>

    </select>
    <label for="meretSelect">Csapat mérete(fő)</label>
  </div>

  <!-- Szorgalmi feladat-2022.05.26. -->
  <div class="form-floating m-3">
    <select class="form-select" id="sportokSelect">

      <option *ngFor="let eredmeny of Sportagak" value="1">{{eredmeny.sportagNeve}}</option>

    </select>
    <label for="sportokSelect">Sportágak</label>
  </div>

</form>




<div class="form-group">
  <label for="tablazatSzuroElem">Táblázat szűrése</label>
  <input type="text" id="tablazatSzuroElem" class="form-control" placeholder="Keresés" [(ngModel)]="tablazatSzuro">
</div>

<!-- Szorgalmi: kiszűrni és megjeleníteni a sportágakat legördülő listába -->

<table class="table table-dark table-striped table-bordered table-hover text-center">
  <thead>
    <tr>
      <th>Helyezés</th>
      <th>Csapatméret</th>
      <th>Sportág</th>
      <th>Versenyszám</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let helsinki of HelsinkiEredmenyek|filter:tablazatSzuro">
      <td>{{helsinki.helyezes}}.</td>
      <td>{{helsinki.csapatMeret}} fő</td>
      <td>{{helsinki.sportag}}</td>
      <td>{{helsinki.versenySzam}}</td>
    </tr>
  </tbody>
</table>



<!-- <p>Helsinki eredmények(lista):</p>
<ul class="list-group">
  <li *ngFor="let eredmeny of HelsinkiEredmenyek">
    {{eredmeny.helyezes}} helyezés ({{eredmeny.csapatMeret}}fő)
    [{{eredmeny.sportag}} - {{eredmeny.versenySzam}}]
  </li>
</ul> -->

<ul>
  <li *ngFor="let eredmeny of Sportagak">
    {{eredmeny.sportagNeve}}:{{eredmeny.versenySzamok}}
  </li>
</ul>
