<div class="btn-group">
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="legorduloMenuGomb" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Hasznos funkciók</button>
    <div class="dropdown-menu" aria-labelledby="legorduloMenuGomb" aria-expanded="false">
      <a class="dropdown-item" routerLink="/jquery">Jquery Minta</a>
      <a class="dropdown-item" routerLink="/tabla">Dinamikus Táblázat Minta</a>
      <a class="dropdown-item" href="https://angular.io/" target="_blank">Angular honlap</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="legorduloMenuGomb" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">További tananyagok</button>
    <div class="dropdown-menu" aria-labelledby="legorduloMenuGomb" aria-expanded="false">
      <a class="dropdown-item" href="">Jquery</a>
      <a class="dropdown-item" href="">Táblázat</a>
      <a class="dropdown-item" href="" target="_blank">Angular honlap</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
